/*
 * Custom CSS definitions
 */

/* remove the dotted outline from images */
img:focus {
  outline: 0;
}

.sidebar small {
  font-size: 67%;
}

.sidebar-touch {
  position: fixed;
  top:  0;
  left: 0;
  width: 1rem;
  z-index: 7;
  opacity: 0;
  height: 100%;
}

#sidebar-checkbox:checked ~ .sidebar-touch {
  left: 14rem;
}