<head>
  <meta charset="utf-8" />
  <!-- Optimize for mobile versions: http://goo.gl/EOpFl -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Prevent Page Zooming in Mobile Browsers: http://davidwalsh.name/zoom-mobile-browsers -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <!-- force latest IE rendering engine: bit.ly/1c8EiC9 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
  <!-- <meta name="theme-color" content="#57ad68"> -->

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="192x192" href="{{ '/assets/images/apple-touch-icon-precomposed.png' | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ '/assets/images/apple-touch-icon-precomposed.png' | prepend: site.baseurl }}" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" media="print" href="{{ '/assets/css/print.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/medyll.css' | prepend: site.baseurl }}" />
</head>
