<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body vocab="http://schema.org/" prefix="foaf: http://xmlns.com/foaf/0.1/" prefix="cc: http://creativecommons.org/ns#">

    <span resource="http://depressiverobot.com" typeof="WebSite"><span property="author" resource="{{ site.url }}/about/#MarvinFrommhold"></span></span>
    <span resource="{{ site.url }}/about/#MarvinFrommhold" typeof="Person"></span>

    {% include sidebar.html %}

    <div class="sidebar-touch"></div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <header class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </header>

      <div class="container content">
        <main>
          {{ content }}
        </main>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle fa fa-bars"></label>

    <script src="{{ site.baseurl }}public/js/quo.js"></script>
    <script src="{{ site.baseurl }}public/js/depressiverobot.js"></script>
    {% include google_analytics.html %}

  </body>
</html>
