<!DOCTYPE html>
<html>

  {% include head.html %}

  <body vocab="http://schema.org/" prefix="foaf: http://xmlns.com/foaf/0.1/ cc: http://creativecommons.org/ns#" typeof="WebPage">

    <span property="isPartOf" resource="http://depressiverobot.com/" typeof="WebSite Blog"><span property="author" resource="http://depressiverobot.com/about/#MarvinFrommhold"></span></span>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}

  </body>

</html>
