<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <header class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </header>

      <div class="container content">
        <main>
          {{ content }}
        </main>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle fa fa-bars"></label>

    <script src="{{ site.baseurl }}public/js/quo.js"></script>
    {% include google_analytics.html %}
<!--    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script> -->
    <script>
      $$('body').swipeRight(function() {
        var checkbox = $$('#sidebar-checkbox');

        if (!checkbox[0].checked)
          checkbox[0].checked = true;
      });
    </script>
    <script>
      $$('body').swipeLeft(function() {
        var checkbox = $$('#sidebar-checkbox');

        if (checkbox[0].checked)
          checkbox[0].checked = false;
      });
    </script>
    <script>
      $$('body').tap(function(e) {
        var target = e.target;
        var checkbox = $$('#sidebar-checkbox');
        var sidebar = $$('#sidebar');

        if (checkbox[0].checked && !sidebar[0].contains(target))
          checkbox[0].checked = false;
      });
    </script>
  </body>
</html>
