---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body vocab="http://schema.org/" prefix="foaf: http://xmlns.com/foaf/0.1/ cc: http://creativecommons.org/ns#" typeof="{{ page.typeof }}">
    <span property="isPartOf" resource="{{ site.uri }}" typeof="WebSite Blog"><span property="author" resource="{{ site.author.uri }}"></span></span>
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({{ page.image }})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="no-article-image">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        {% endif %}
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div>
    </div>
    {% include scripts.html %}
    {% include google_analytics.html %}
  </body>
</html>
